
body {
margin: 0px;
padding: 0;
font-family: Font;
color: #1C1C1E;
overflow-x: hidden;
background: #1C1C1E;
-webkit-touch-callout: none;
user-select: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}
a {
text-decoration: none;
}
